
:root {
  --page-width: 1100px;
  --base-font: "Raleway", sans-serif;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
  background: #ffffff;
}

body {
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}


h1,h2,h3,h4,h5,h6,p,ul,ol,li,blockquote {
  margin: 0;
  padding: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}
