.page-header {
  padding: 77px 24px 90px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  margin-left: 26px;
}

.site-logo {
  display: block;
  width: 140px;
  margin-left: 38px;
  margin-top: 13px;
  margin-right: 183px;
}

.logo-img {
  width: 100%;
}

.nav-link {
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 3px;
}

.nav-item {
  list-style-type: circle;
  margin-top: 16px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  align-items: center;
}

.no-bullet {
  text-decoration: none;
  list-style-type: none;
}

.contact-info {
  font-size: 18px;
  line-height: 24px;
  text-underline-offset: 4px;
}

.header-contacts {
  font-style: normal;
  margin-top: 19px;
  margin-right: 54px;
  margin-bottom: 4px;
  width: 210px;
}

.hero-section {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 179px;
  position: relative;
  padding-top: 165px;
}

.background-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-heading {
  display: flex;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 3;
  letter-spacing: 30px;
}

.wide-spacing {
  letter-spacing: 60px;
}

.no-spacing {
  letter-spacing: initial;
}

.heading-line {
  display: flex;
}

.heading-line.left {
  margin-left: 48px;
  justify-content: flex-start;
}

.heading-line.center {
  justify-content: center;
  margin-top: 10px;
}

.heading-line.right {
  margin-top: 2px;
  justify-content: flex-end;
  margin-right: 50px;
}

.hero-info {
  margin-top: 127px;
  display: flex;
  gap: 79px;
  justify-content: center;
}

.hero-text {
  display: flex;
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 18px;
  font-size: 22px;
  line-height: 28px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-left: 78px;
  margin-bottom: 51px;
  position: relative;
  z-index: 4;
}

.cta-button {
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  font-size: 22px;
  padding: 12px 32px 11px 31px;
  margin-right: 50px;
  margin-bottom: 51px;
  cursor: pointer;
  color: white;
  position: relative;
  z-index: 4;
  outline: none;
  font-family: Raleway, sans-serif;
  font-weight: normal;
}

.section-title {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.film-lot {
  background-image: url(../images/card-lot-01.jpg);
}

.book-lot {
  background-image: url(../images/card-lot-02.jpg);
}

.art-lot {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-section {
  margin-left: 22px;
  margin-right: 24px;
}

.lots-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lot-link {
  display: block;
  text-decoration: none;
  position: relative;
}

.lot-title {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  line-height: 26px;
  color: white;
  max-width: 334px;
  text-align: left;
  position: relative;
  z-index: 2;
  text-underline-offset: 3px;
}

.lot-description {
  font-size: 20px;
  line-height: 24px;
  color: white;
  max-width: 334px;
  text-align: left;
  position: relative;
  z-index: 2;
}

.lot-item {
  list-style-type: none;
  margin-bottom: 30px;
}

.lot-card {
  position: relative;
  padding: 51px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 563px;
  width: 334px;
  background-position: center;
  background-size: cover;
}

.more-link {
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-left: 40px;
}

.about-section {
  padding: 171px 24px 0px 24px;
}

.about-content {
  display: grid;
  grid-template-columns: 336px 1fr;
  gap: 10px 21px;
}

.about-logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 46px;
  margin-top: 12px;
}

.logo-white {
  width: 148px;
  height: 114px;
}

.about-heading {
  display: flex;
  align-items: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 24px;
}

.about-text {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 24px;
}

.page-footer {
  padding: 177px 48px 88px 50px;
  display: flex;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
}

.social-item {
  list-style-type: none;
}

.social-icon {
  width: 48px;
  height: 48px;
}

.footer-nav {
  text-align: center;
  margin-left: 40px;
}

.footer-menu-item {
  list-style-type: none;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer-address {
  font-size: 18px;
  text-underline-offset: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-style: normal;
  width: 210px;
}

.active-item {
  text-decoration: none;
  list-style-type: none;
}

.card-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
