
.hb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 77px 24px 90px 24px;
}

.hb__nav { margin-left: 26.52px; }

.hb__list {
  display: flex;
  gap: 33px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hb__item { margin-top: 16px; }

.hb__item--plain { list-style-type: none; }

.hb__link {
  font-size: 18px;
  line-height: 21.13px;
  text-underline-offset: 3px;
}


.hb__logo { display: block; width: 140px; margin-left: 38px; margin-top: 13px; margin-right: 183px; }
.hb__logo-img { width: 100%; }


.hb__contacts { font-size: 18px; line-height: 24.3px; }
.hb__address { margin-top: 19px; margin-right: 54px; margin-bottom: 4px; width: 210px; font-style: normal; }


.hero {
  position: relative;
  min-height: 757px;
  padding-top: 165px;
  margin-bottom: 179px;
  overflow: hidden;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}


.hero__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.hero__wide { letter-spacing: 60px; }
.hero__normal { letter-spacing: normal; }


.hero__part { display: flex; }
.hero__part--left { justify-content: flex-start; margin-left: 48px; }
.hero__part--center { justify-content: center; }
.hero__part--right { justify-content: flex-end; margin-right: 50px; margin-top: 2px; }


.hero__meta {
  display: flex;
  gap: 79px;
  justify-content: center;
  margin-top: 127px;
  align-items: center;
  z-index: 2;
}

.hero__subtitle {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17.7px;
  margin-left: 78px;
}

.hero__cta {
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  font-size: 22px;
  padding: 12px 32px;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-family: var(--base-font);
}


.lots { margin-left: 22px; margin-right: 24px; }

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lots__item { margin-bottom: 30px; list-style: none; width: 334px; }

.lot-link { display: block; text-decoration: none; position: relative; }


.lot-card {
  position: relative;
  padding: 51px 40px 48px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 563px;
  width: 334px;
  background-position: center;
  background-size: cover;
}

.lot-card--film { background-image: url(../images/card-lot-01.jpg); }
.lot-card--book { background-image: url(../images/card-lot-02.jpg); }
.lot-card--picture { background-image: url(../images/card-lot-03.jpg); }

.lot-card__title {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3.3px;
  font-size: 22px;
  line-height: 26.4px;
  color: #fff;
  max-width: 334px;
  z-index: 2;
  text-align: left;
}

.lot-card__text {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  max-width: 334px;
  z-index: 2;
  text-align: left;
}


.lot-card__shade {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0);
  z-index: 1;
}

.lots__more {
  display: inline-block;
  font-size: 20px;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 4.2px;
}


.about {
  padding: 171px 24px 0;
}

.about__layout { display: grid; grid-template-columns: 336px 1fr; gap: 21px; }

.about__logo-wrap { margin-left: 46px; margin-top: 12px; display: flex; justify-content: center; align-items: center; }

.about__logo-circle {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-img { width: 148px; height: 114px; }

.about__title { font-size: 40px; text-transform: uppercase; margin-top: 24px; display: flex; align-items: center; }

.about__text { grid-column: 2/3; display: flex; flex-direction: column; gap: 25px; font-size: 20px; line-height: 24px; }


.ft {
  display: flex;
  justify-content: space-between;
  padding: 177px 48px 88px 50px;
}

.ft__address { font-size: 18px; display: flex; flex-direction: column; gap: 3px; font-style: normal; width: 210px; }

.ft__menu { text-align: center; margin-left: 40px; }

.ft__list { display: flex; gap: 24px; list-style: none; padding: 0; margin: 0; }

.ft__link { font-size: 18px; text-decoration: underline; text-underline-offset: 4.2px; }

.ft__socials { display: flex; gap: 48px; align-items: center; list-style: none; padding: 0; margin: 0; }

.ft__social img { width: 48px; height: 48px; display: block; }
