
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 24px 24px;
}

.topbar__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.brand {
  display: block;
  width: 140px;
}

.brand__img {
  width: 100%;
  height: auto;
}

.navigation__list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-size: 18px;
  line-height: 1.2;
}


.contacts {
  text-align: right;
  font-size: 18px;
}

.contacts__phone,
.contacts__mail {
  display: inline-block;
  margin-bottom: 6px;
}


.hero {
  position: relative;
  min-height: 740px;
  margin-bottom: 100px;
  padding-top: 150px;
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  inset: 0;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.hero__shade {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.hero__title {
  position: relative;
  z-index: 2;
  width: 100%;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.wide { letter-spacing: 60px; }
.normal { letter-spacing: normal; }


.hero__part_left { justify-content: flex-start; display: flex; margin-left: 48px; }
.hero__part_center { display: flex; justify-content: center; }
.hero__part_right { display: flex; justify-content: flex-end; margin-right: 50px; }


.hero__controls {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.hero__subtitle {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  line-height: 1.3;
  margin-left: 78px;
}

.cta-button {
  text-transform: uppercase;
  border: 1px solid #fff;
  background: transparent;
  padding: 12px 32px;
  font-size: 22px;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
}


.auction {
  margin: 0 24px 60px 22px;
}

.auction__heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}


.auction__grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.auction__item {
  width: 334px;
  margin-bottom: 30px;
}

.item-card {
  min-height: 560px;
  padding: 51px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
  position: relative;
}


.item-card--film { background-image: url('../images/card-lot-01.jpg'); }
.item-card--book { background-image: url('../images/card-lot-02.jpg'); }
.item-card--picture { background-image: url('../images/card-lot-03.jpg'); }

.item-card__title {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  max-width: 334px;
  z-index: 2;
}

.item-card__desc {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  max-width: 334px;
  z-index: 2;
}

.item-card__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.0); 
  z-index: 1;
}


.auction__more {
  margin-left: 40px;
  display: inline-block;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}


.about {
  padding: 171px 24px 0;
}

.about__wrap {
  display: grid;
  grid-template-columns: 336px 1fr;
  gap: 21px;
  align-items: start;
}

.about__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo {
  width: 148px;
  height: auto;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 24px;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  padding: 177px 50px 88px 48px;
}

.site-footer__contacts { width: 220px; }

.site-footer__nav { text-align: center; margin-left: 40px; }

.site-footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.site-footer__link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.site-footer__socials {
  display: flex;
  gap: 48px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footer__socials img { width: 48px; height: 48px; display: block; }
