/* style.css */
.page-header {
  padding: 92px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  margin-left: 26px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
}

.navigation-item {
  list-style-type: circle;
  font-size: 18px;
}

.no-bullet {
  list-style-type: none;
}

.nav-link {
  font-size: 18px;
  line-height: normal;
  text-underline-offset: 4px;
}

.main-logo {
  display: block;
  width: 148px;
  margin: 0 183px 0 38px;
}

.logo-img {
  width: 100%;
}

.contact-details {
  font-size: 18px;
  line-height: 24.3px;
}

.header-address {
  font-style: normal;
  width: 240px;
  text-underline-offset: 4px;
}

.contact-link {
  text-decoration: underline;
}

.main-cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 180px;
  padding-top: 165px;
}

.cover-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-title {
  display: flex;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 1;
  letter-spacing: 30px;
}

.wide-spacing {
  letter-spacing: 60px;
}

.normal-spacing {
  letter-spacing: normal;
}

.left-aligned {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  line-height: 115%;
}

.center-aligned {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  line-height: 115%;
}

.right-aligned {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 50px;
  line-height: 115%;
}

.cover-info {
  margin-top: 135px;
  display: flex;
  gap: 78px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cover-subtitle {
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 18px;
  font-size: 22px;
  line-height: 28px;
  color: white;
}

.place-bet {
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  font-size: 22px;
  padding: 12px 32px;
  margin-right: 50px;
  cursor: pointer;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: normal;
}

.lots-container {
  margin: 0 50px 0 50px;
}

.lots-title {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.film-card {
  background-image: url(../images/card-lot-01.jpg);
}

.book-card {
  background-image: url(../images/card-lot-02.jpg);
}

.picture-card {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.lot-card-link {
  display: block;
  text-decoration: none;
  position: relative;
}

.card-title {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  line-height: 26px;
  color: white;
  max-width: 334px;
  text-align: left;
  position: relative;
  z-index: 2;
  text-underline-offset: 3px;
}

.card-content {
  font-size: 20px;
  line-height: 24px;
  color: white;
  max-width: 334px;
  text-align: left;
  position: relative;
  z-index: 2;
}

.lots-item {
  list-style-type: none;
}

.lot-card {
  position: relative;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 563px;
  width: 334px;
  background-position: center;
  background-size: cover;
}

.lot-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.show-more {
  font-size: 20px;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-left: 40px;
}

.about-section {
  padding: 182px 50px 0 50px;
}

.about-content {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 8px 25px;
}

.about-logo-container {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 95px;
}

.about-logo-img {
  width: 148px;
  height: 114px;
}

.about-heading {
  display: flex;
  align-items: center;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 100px;
}

.about-text-content {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 24px;
}

.page-footer {
  padding: 180px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-address-info {
  font-size: 18px;
  text-underline-offset: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-style: normal;
  width: 240px;
}

.footer-navigation {
  text-align: center;
}

.footer-nav-list {
  list-style: none;
}

.footer-nav-item {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-bottom: 5px;
}

.active-nav-item {
  text-decoration: none;
}

.social-media-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
}

.social-media-item {
  list-style-type: none;
}

.social-icon-img {
  width: 48px;
  height: 48px;
}
