/* ======= HEADER ======= */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 78px 25px 90px;
}

.site-header__nav {
    margin-left: 26px;
}

.site-header__logo {
    width: 140px;
    display: block;
    margin: 13px 183px 0 38px;
}

.site-header__logo-img {
    width: 100%;
    height: auto;
}

.site-header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33px;
}

.site-header__menu-item {
    list-style: circle;
    margin-top: 16px;
}

.site-header__menu-item_no-bullet {
    list-style: none;
}

.site-header__menu-link {
    font-size: 18px;
    line-height: 21px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* ======= ADDRESS ======= */
.contact-block {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    text-underline-offset: 3.5px;
    width: 210px;
    margin: 19px 54px 4px 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* ======= HERO / COVER ======= */
.hero {
    min-height: 757px;
    position: relative;
    background: center / cover no-repeat url("../images/cover.jpg");
    padding-top: 165px;
    margin-bottom: 180px;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero__title {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 100px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    letter-spacing: 30px;
}

.hero__title--wide {
    letter-spacing: 60px;
}

.hero__title--normal {
    letter-spacing: normal;
}

.text-left {
    margin-left: 48px;
    display: flex;
    justify-content: flex-start;
}

.text-center {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.text-right {
    display: flex;
    justify-content: flex-end;
    margin: 2px 50px 0 0;
}

.hero__desc {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 127px;
    position: relative;
    z-index: 3;
}

.hero__desc-text {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 18px;
}

.hero__btn {
    padding: 12px 32px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}

/* ======= AUCTION / LOTS ======= */
.auction-section {
    margin: 0 24px 0 22px;
}

.auction-section__title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}

.auction-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.auction-item {
    list-style: none;
    margin-bottom: 30px;
}

.auction-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding: 52px 40px 48px;
    min-height: 563px;
    width: 334px;
    background-position: center;
    background-size: cover;
}

.auction-card--film {
    background-image: url("../images/card-lot-01.jpg");
}

.auction-card--book {
    background-image: url("../images/card-lot-02.jpg");
}

.auction-card--art {
    background-image: url("../images/card-lot-03.jpg");
}

.auction-card__link {
    display: block;
    position: relative;
    text-decoration: none;
}

.auction-card__title {
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    max-width: 334px;
    position: relative;
    z-index: 2;
}

.auction-card__text {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    max-width: 334px;
    position: relative;
    z-index: 2;
}

.auction-section__more {
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-left: 40px;
}

/* ======= INFO / ABOUT ======= */
.info-block {
    padding: 171px 24px 0;
}

.info-block__layout {
    display: grid;
    grid-template-columns: 336px 1fr;
    gap: 21px;
}

.info-block__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0 46px;
}

.info-block__logo-img {
    width: 148px;
    height: 114px;
}

.info-block__heading {
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.info-block__content {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    line-height: 24px;
}

/* ======= FOOTER ======= */
.site-footer {
    display: flex;
    justify-content: space-between;
    padding: 177px 48px 88px 50px;
}

.site-footer__contacts {
    width: 210px;
    font-size: 18px;
    line-height: 24px;
    text-underline-offset: 4px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.site-footer__menu {
    text-align: center;
    margin-left: 40px;
}

.site-footer__menu-list {
    list-style: none;
}

.site-footer__menu-item {
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.site-footer__menu-item--active {
    text-decoration: none;
}

.site-footer__social {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
}

.site-footer__social-item {
    list-style: none;
}

.site-footer__icon {
    width: 48px;
    height: 48px;
}
