/* style.css */
header {
  display: flex;
  padding: 92px 50px 96px;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  margin-left: 26px;
}

.nav-list {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  flex-direction: row;
}

.nav-item {
  list-style-type: circle;
}

.no-bullet {
  list-style-type: none;
  text-decoration: none;
}

.nav-link {
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 4px;
}

.site-logo {
  display: block;
  width: 148px;
  margin: 0 183px 0 38px;
}

.logo-img {
  width: 100%;
}

.contact-info {
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.header-contacts {
  font-style: normal;
  margin: 0 50px 0 0;
  width: 240px;
}

.contact-link {
  text-decoration: underline;
}

.hero-section {
  position: relative;
  min-height: 757px;
  background: url(../images/cover.jpg) center/cover;
  margin-bottom: 180px;
  padding: 165px 50px 0;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.main-heading {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.wide-spacing {
  letter-spacing: 60px;
}

.no-spacing {
  letter-spacing: 0;
}

.text-left {
  line-height: 1.15;
  margin-left: 0;
  display: block;
}

.text-center {
  line-height: 1.15;
  margin: 20px 0 0;
  display: block;
  text-align: center;
}

.text-right {
  line-height: 1.15;
  margin: 20px 0 0;
  display: block;
  text-align: right;
}

.hero-description {
  margin-top: 135px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  position: relative;
  z-index: 1;
}

.hero-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bid-btn {
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: Raleway, sans-serif;
}

.lots-section {
  margin: 0 50px;
}

.section-title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lot-item {
  list-style: none;
  flex: 1;
  min-width: 334px;
}

.lot-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lot-card {
  position: relative;
  height: 563px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.film-lot {
  background-image: url(../images/card-lot-01.jpg);
}

.book-lot {
  background-image: url(../images/card-lot-02.jpg);
}

.art-lot {
  background-image: url(../images/card-lot-03.jpg);
}

.card-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.lot-title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 2px;
}

.lot-description {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.more-link {
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
}

.about-section {
  margin: 0 50px;
  padding: 182px 0 0;
}

.about-content {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 8px 25px;
}

.about-logo {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 95px;
}

.logo-white {
  width: 148px;
}

.about-heading {
  padding: 100px 0 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about-text {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 24px;
}

footer {
  margin: 180px 50px 90px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer-address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.footer-nav {
  text-align: center;
}

.footer-menu {
  list-style: none;
}

.footer-menu-item {
  margin-bottom: 5px;
}

.footer-link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.active-item .footer-link {
  text-decoration: none;
}

.social-links {
  display: flex;
  gap: 48px;
  list-style: none;
}

.social-icon {
  width: 48px;
  height: 48px;
}
